<table border="0" style="width:80%">
  <tr>
    <td align="center">
      <p>Author: Gerson Barbosa</p>
      <p>Email: <a href="mailto:gguy@terra.com.br">gguy@terra.com.br</a></p>
    </td>
    <td align="left">
      <img src="images/gerson.jpg" alt="Gerson" style="width:100px;height:150px;">
    </td>
  </tr>

</table>
